<div class="leaderboard  text-center">
    <div class="menuGames" >
        <a><img src="../../../assets/icons/monkeyblueIcon.svg" alt="monkey Logo" width="80"></a>
        <a><img src="../../../assets/icons/Memory type.svg" alt="Memory type" width="80"></a>
        <a><img src="../../../assets/icons/RamIcon.svg" alt="Ram icon" width="80"></a>
        <a><img src="../../../assets/icons/target.svg" alt="target" width="80"></a>
        <a><img src="../../../assets/icons/Typing.svg" alt="typing" width="80"></a>
    </div>
    <div class="charts">
        <app-line-chart></app-line-chart>
        <app-line-chart></app-line-chart>
        <app-line-chart></app-line-chart>
    </div>
</div>
